{{ partial "head.html" . }} {{ partial "header.html" . }}

<div class="had-container" id="approche">
    <div class="container">
        <div class="row">
            <div class="col s12 m7 l7" style="padding:0;">
                <h1 class="blue-bar">L'approche cryos</h1>
                <p>Pendant plus d’un siècle, l’idéologie conventionnelle reposait sur l’immobilisation des pieds afin de traiter
                    correctement les problématiques du pied et l’inconfort postural.</p>
                <h2>Chez Cryos, nous pensons différemment…</h2>
                <p>Nous croyons que:</p>
                <ul>
                    <li>Le mouvement fait partie d’un style de vie actif </li>
                    <li>Les pieds sont la fondation d’une posture en santé </li>
                    <li>Une mesure disciplinée et objective est fondamentale afin d’assurer l’efficacité du traitement </li>
                    <li>Les technologies représentent un élément clé dans l’avancement de la santé posturale</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="had-container" id="mission">
    <div class="container">
        <div class="row">
            <div class="col s12 m9 l9" style="padding:0;">
                <h1>Mission</h1>
                <p>Chaque jour, nous sommes alimentés par la volonté d’aider les professionnels de la santé posturale et leurs
                    patients à relever les défis auxquels ils font face. C’est en développant des solutions intégrées, innovantes
                    et performantes que nous contribuons à ultimement à redonner à tous le pouvoir le plaisir d’une vie active
                    grâce au bien-être postural.</p>
            </div>
        </div>
    </div>
</div>

<div class="had-container" id="valeurs">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="blue-bar">Valeurs</h1>
                <div class="col s12 l3 valeur">
                    <img src="{{.Site.BaseURL}}img/a_propos/innovantion.png" alt="" height="90px" width="60px">
                    <h3>Innovation</h1>
                        <p>De nature technologique ou organisationnelle, elle est pensée collectivement en fonction du mieux-être.
                        </p>
                </div>
                <div class="col s12 l3 valeur">
                    <img src="{{.Site.BaseURL}}img/a_propos/transparence.png" alt="" height="90px" width="80px">
                    <h3>Transparence</h1>
                        <p>Nous estimons que la transparence est la pierre angulaire d’une relation durable. </p>
                </div>
                <div class="col s12 l3 valeur">
                    <img src="{{.Site.BaseURL}}img/a_propos/complicity.png" alt="" height="90px" width="76px">
                    <h3>Complicité</h1>
                        <p>Nous favorisons la proximité afin de bien comprendre les besoins des podiatres et des patients.</p>
                </div>
                <div class="col s12 l3 valeur">
                    <img src="{{.Site.BaseURL}}img/a_propos/devouement.png" alt="" height="90px" width="60px">
                    <h3>Dévouement</h1>
                        <p>Notre dévouement est le reflet de notre engagement et de notre loyauté. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="had-container" id="histoire">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="blue-bar">Notre histoire</h1>
                <div class="col s12 m6 l6" style="padding:0; margin: 40px 0 40px;">
                    <div class="owl-carousel">
                        <div class="owl-content">
                            <div class="block">
                                <div class="year"><span>2017</span></div>
                                <ul class="list">
                                    <li>Prix du design CryoScan 3D avec Brio Innovation</li>
                                    <li>Près de 50 employés et plus de trente cliniques partenaires</li>
                                </ul>
                            </div>
                            <div class="block">
                                <div class="year"><span>2016</span></div>
                                <ul class="list">
                                    <li>Participation au congrès mondial de la podiatrie (FIP)</li>
                                    <li>Arrivée du nouveau partenaire financier CCPME-Desjardins capital de risque</li>
                                    <li>2 demandes de nouveaux brevets (CryoScan 3D)</li>
                                    <li>Certifié Ici on recycle</li>
                                </ul>
                            </div>
                            <div class="block">
                                <div class="year"><span>2015</span></div>
                                <ul class="list">
                                    <li>Embauche 2e ingénieur R&amp;D</li>
                                    <li>Ouverture de la première clinique en Ontario</li>
                                    <li>Finaliste Fast Runner Canadian trade commission Boston</li>
                                </ul>
                            </div>
                        </div>
                        <div class="owl-content">
                            <div class="block">
                                <div class="year"><span>2013</span></div>
                                <ul class="list">
                                    <li>Ouverture du nouveau laboratoire afin d’agrandir l’espace de travail de près 14 000 pieds
                                        carrés
                                    </li>
                                </ul>
                            </div>
                            <div class="block">
                                <div class="year"><span>2012</span></div>
                                <ul class="list">
                                    <li>L’embauche premier ingénieur de recherche à temps plein pour le département R&amp;D</li>
                                </ul>
                            </div>
                            <div class="block">
                                <div class="year"><span>2011</span></div>
                                <ul class="list">
                                    <li>Début de l’automatisation des procédés de fabrication.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="owl-content">
                            <div class="block">
                                <div class="year"><span>2010</span></div>
                                <ul class="list">
                                    <li>En 2010, l'entreprise ajoute à son modèle d'affaires le service conseil pour mettre l'expertise
                                        de ses professionnels en gestion et démarrage de cliniques modernes, au service des
                                        podiatres.
                                    </li>
                                </ul>
                            </div>
                            <div class="block">
                                <div class="year"><span>2006</span></div>
                                <ul class="list">
                                    <li>En 2006, l'entreprise obtient la certification ISO 13485 pour la fabrication et la vente
                                        du système CryoVizion et entreprend la première phase de commercialisation auprès
                                        des professionnels de la podiatrie.</li>
                                </ul>
                            </div>
                            <div class="block">
                                <div class="year"><span>2004</span></div>
                                <ul class="list">
                                    <li>Formation d'une équipe de gestion expérimentée pour épauler les podiatres Gremillet ets
                                        Legaré. Les effets de cette nouvelle alliance se font ressentir rapidement et les
                                        investissements en recherche et en développement mènent à l'obtention d'un deuxième
                                        brevet pour les orthèses de contact dynamique et un premier brevet pour le système
                                        d'imagerie posturale CryoVizion.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="owl-content">
                            <div class="block">
                                <div class="year"><span>2003</span></div>
                                <ul class="list">
                                    <li>Après le décès subit de M. Perrault en 2003, Frédéric Gremillet, DPM, et Philippe Legaré,
                                        DPM, perpétuent la vision du fondateur. Tous deux diplômés du collège de médecine
                                        podiatrique de Pennsylvanie et protégés de M. Perrault, ils reprennent les rênes
                                        de l'entreprise en 2004.
                                    </li>
                                </ul>
                            </div>
                            <div class="block">
                                <div class="year"><span>1994</span></div>
                                <ul class="list">
                                    <li>En 1994, Cryos Technologies Inc. est fondée par le podiatre visionnaire Ronald Perrault
                                        qui développe l'orthèse de contact dynamique en collaboration avec l'Université de
                                        Montréal.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l6 histoire-img hide-on-small-only">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="had-container" id="equipe">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="blue-bar">L'équipe</h1>
                <div class="owl-carousel">
                    {{ range sort $.Site.Data.equipe }}
                        <div class="member center-align">
                            <img src="{{$.Site.BaseURL}}img/equipe/{{ .photo }}" alt="{{ .fonction }}">
                            <h1>{{ .nom }}</h1>
                            <h2>{{ .fonction }}</h2>
                        </div>
                    {{ end }}
                </div>
                <!-- <div class="hide-on-med-and-up">
                    <div class="member center-align">
                        <img src="{{.Site.BaseURL}}img/a_propos/Nicholas.png" alt="">
                        <h1>Nicholas Watts</h1>
                        <h2>Ingénieur en recherche</h2>
                    </div>
                    <div class="member center-align">
                        <img src="{{.Site.BaseURL}}img/a_propos/Philippe.png" alt="">
                        <h1>Philippe Légaré</h1>
                        <h2>DMP</h2>
                    </div>
                    <div class="member center-align">
                        <img src="{{.Site.BaseURL}}img/a_propos/Frederic.png" alt="">
                        <h1>Frederic Gremillet</h1>
                        <h2>DMP</h2>
                    </div>
                    <div class="member center-align">
                        <img src="{{.Site.BaseURL}}img/a_propos/Frederic.png" alt="">
                        <h1>Frederic Gremillet</h1>
                        <h2>DMP</h2>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>

<div class="had-container" id="trouver_clinique">
    <div class="container">
        <div class="row">
            <div class="col s12 center-align">
                <a href="#!">Trouver une clinique</a>
            </div>
        </div>
    </div>
</div>

<div class="had-container" id="nos_partenaires">
    <div class="container">
        <div class="row">
            <div class="col s12">

            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}