{{ partial "head.html" . }} {{ partial "header.html" . }}

<div class="had-container" id="approche">
    <div class="container">
        <div class="row">
            <div class="col s12 m7 l7" style="padding:0;">
                <h1 class="blue-bar">L'approche cryos</h1>
                <p>Pendant plus d’un siècle, l’idéologie conventionnelle reposait sur l’immobilisation des pieds afin de traiter
                    correctement les problématiques du pied et l’inconfort postural.</p>
                <h2>Chez Cryos, nous pensons différemment…</h2>
                <p>Nous croyons que:</p>
                <ul>
                    <li>Le mouvement fait partie d’un style de vie actif </li>
                    <li>Les pieds sont la fondation d’une posture en santé </li>
                    <li>Une mesure disciplinée et objective est fondamentale afin d’assurer l’efficacité du traitement </li>
                    <li>Les technologies représentent un élément clé dans l’avancement de la santé posturale</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="had-container" id="mission">
    <div class="container">
        <div class="row">
            <div class="col s12 m9 l9" style="padding:0;">
                <h1>Mission</h1>
                <p>Chaque jour, nous sommes alimentés par la volonté d’aider les professionnels de la santé posturale et leurs
                    patients à relever les défis auxquels ils font face. C’est en développant des solutions intégrées, innovantes
                    et performantes que nous contribuons à ultimement à redonner à tous le pouvoir le plaisir d’une vie active
                    grâce au bien-être postural.</p>
            </div>
        </div>
    </div>
</div>

<div class="had-container" id="valeurs">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="blue-bar">Valeurs</h1>
                <div class="col s12 l3 valeur">
                    <img src="{{.Site.BaseURL}}img/a_propos/innovantion.png" alt="" height="90px" width="60px">
                    <h3>Innovation</h1>
                        <p>De nature technologique ou organisationnelle, elle est pensée collectivement en fonction du mieux-être.
                        </p>
                </div>
                <div class="col s12 l3 valeur">
                    <img src="{{.Site.BaseURL}}img/a_propos/transparence.png" alt="" height="90px" width="80px">
                    <h3>Transparence</h1>
                        <p>Nous estimons que la transparence est la pierre angulaire d’une relation durable. </p>
                </div>
                <div class="col s12 l3 valeur">
                    <img src="{{.Site.BaseURL}}img/a_propos/transparence.png" alt="" height="90px" width="80px">
                    <h3>Complicité</h1>
                        <p>Nous favorisons la proximité afin de bien comprendre les besoins des podiatres et des patients.</p>
                </div>
                <div class="col s12 l3 valeur">
                    <img src="{{.Site.BaseURL}}img/a_propos/devouement.png" alt="" height="90px" width="60px">
                    <h3>Dévouement</h1>
                        <p>Notre dévouement est le reflet de notre engagement et de notre loyauté. </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="had-container" id="histoire">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="blue-bar">Notre histoire</h1>
                <div class="col s12 m6 l6"></div>
                <div class="col s12 m6 l6">
                    <img src="" alt="">
                </div>
                <!--
                    TODO:
                    - Carousel Owl ici
                -->
            </div>
        </div>
    </div>
</div>

<!--<div class="had-container" id="equipe">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1>L'équipe</h1>

            </div>
        </div>
    </div>
</div>

<div class="had-container" id="trouver_clinique">
    <div class="container">
        <div class="row">
            <div class="col s12">
                
            </div>
        </div>
    </div>
</div>

<div class="had-container" id="nos_partenaires">
    <div class="container">
        <div class="row">
            <div class="col s12">
                
            </div>
        </div>
    </div>
</div>-->

{{ partial "footer.html" . }}