{{ partial "head.html" . }} {{ partial "header.html" . }}

<div class="container" id="contact-title">
    <div class="row">
        <div class="col s12">
            <h1 class="blue-bar">{{ if eq .Lang "fr" }}Nous joindre{{ else if eq .Lang "en" }}Contact us{{ end }}</h1>
        </div>
    </div>
</div>

<div class="had-container" id="information">
    <div class="container" >
        <div class="row">
            <div class="col s12 offset-m3 m6 offset-l3 l6">
                {{ if eq .Lang "fr" }}
                <h1>Siège social cryos technologies</h1>
                <p><span>adresse</span>385 rue de Salaberry</p>
                <p><span></span>Joliette, Québec, Canada, J6E 4G4</p>
                <p><span>téléphone</span>1-877-272-7967</p>
                <p><span>télécopieur</span>(450) 755-4953</p>
                <p><span>courriel</span>sac-cus@cryos.com</p>
                {{ else if eq .Lang "en" }}
                <h1>Cryos Technologies head office</h1>
                <p><span>address</span>385 de Salaberry street</p>
                <p><span></span>Joliette, Quebec, Canada, J6E 4G4</p>
                <p><span>phone</span>1-877-272-7967</p>
                <p><span>fax</span>(450) 755-4953</p>
                <p><span>email</span>sac-cus@cryos.com</p>
                {{ end }}
            </div>
            <!-- <div class="col s12 m6 l6">
                <h1>Centre d'affaires états-unis</h1>
                <p><span>adresse</span>1322 E 49th St, Chicago, IL 60615, États-Unis</p>
                <p><span>téléphone</span>(000) 000-0000</p>
                <p><span>fax</span>(000) 000-0000</p>
                <p><span>email</span>sac-cus@cryos.com</p>
            </div> -->
        </div>
    </div>
</div>

<div class="container" id="questions">
    <div class="row">
        <div class="col s12" style="padding: 0;">
            {{ if eq .Lang "fr" }}
            <h1 class="blue-bar">Vous avez des questions?</h1>
            <h2>Consultez notre section FAQ <a href="{{.Site.BaseURL}}patients/faq">ici</a></h2>
            <p>Pour de plus amples renseignements, remplissez le formulaire ci-dessous et nous communiquerons avec vous sous peu.</p>
            <form action="{{ .Site.BaseURL }}merci" name="contact-page" id="contact-page" style="padding: 0.75rem;" netlify netlify-honeypot="bot-field">
                <div class="col s12 m4 l4">
                    <input type="text" placeholder="NOM ET PRÉNOM" name="nom_et_prenom" required>
                </div>
                <div class="col s12 m4 l4">
                    <input type="email" placeholder="ADRESSE COURRIEL" name="email" required>
                </div>
                <div class="col s12 m4 l4">
                    <input type="text" placeholder="TÉLÉPHONE" name="phone" required>
                    <p class="hidden"><label>Bot field: <input name="bot-field"></label></p>
                </div>
                <div class="col s12">
                    <textarea placeholder="QUELS RENSEIGNEMENTS DÉSIREZ-VOUS?" name="renseignements" required></textarea>
                </div>
                <div class="col s6 m3 l3 pad_to_right">
                    <input type="submit" value="ENVOYER" class="poste_envoyer">
                </div>
            </form>
            {{ else if eq .Lang "en" }}
            <h1 class="blue-bar">You have questions ?</h1>
            <h2>Visit our FAQ <a href="{{.Site.BaseURL}}en/patients/faq">here</a></h2>
            <p>For more information, please use the form below and we will be in touch with you shortly.</p>
            <form action="{{ .Site.BaseURL }}en/thank-you" name="contact-page" id="contact-page" style="padding: 0.75rem;" netlify netlify-honeypot="bot-field">
                <div class="col s12 m4 l4">
                    <input type="text" placeholder="LAST NAME AND FIRST NAME" name="nom_et_prenom" required>
                </div>
                <div class="col s12 m4 l4">
                    <input type="email" placeholder="EMAIL" name="email" required>
                </div>
                <div class="col s12 m4 l4">
                    <input type="text" placeholder="PHONE" name="phone" required>
                    <p class="hidden"><label>Bot field: <input name="bot-field"></label></p>
                </div>
                <div class="col s12">
                    <textarea placeholder="HOW CAN WE HELP YOU?" name="renseignements" required></textarea>
                </div>
                <div class="col s6 m3 l3 pad_to_right">
                    <input type="submit" value="SEND" class="poste_envoyer">
                </div>
            </form>
            {{ end }}
        </div>
    </div>
</div>

{{ partial "footer.html" . }}