{{ partial "head.html" . }} {{ partial "header.html" . }}

<div class="container" id="emploi-intro">
    <div class="row">
        <div class="col s12 m6 l6">
            <h1 class="blue-bar">Travaillez chez Cryos</h1>
            <h2>Nous sommes sans cesse à la recherche de nouveaux talents pour se joindre à notre équipe passionée.</h2>
            <p>Consultez la liste de postes à combler ou envoyez-nous une candidature spontanée! </p>
        </div>
        <div class="col s12 m5 l5 offset-m1 offset-l1 postes">
            <h2>Postes disponibles</h2>
            <ul>
                <li>Réceptionniste</li>
                <li>Programmeur back-end</li>
                <li>Machiniste</li>
            </ul>
            <p><a href="#postes_details">Détails plus bas</a></p>
        </div>
    </div>
</div>

<div class="had-container" id="postuler">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h1>Postuler en ligne</h1>
                <form action="" name="emploi" netlify netlify-honeypot="bot-field">
                    <div class="col s12 m6 l6 pad_to_right">
                        <label for="nom">NOM</label>
                        <input type="text" name="nom">
                    </div>
                    <div class="col s12 m6 l6 pad_to_right">
                        <label for="prenom">PRÉNOM</label>
                        <input type="text" name="prenom">
                        <p class="hidden"><label>Bot field: <input name="bot-field"></label></p>
                    </div>
                    <div class="col s12 m6 l6 pad_to_right">
                        <label for="email">COURRIEL</label>
                        <input type="email" name="email">
                    </div>
                    <div class="col s12 m6 l6 pad_to_right">
                        <label for="poste_souhaite">POSTE SOUHAITÉ</label>
                        <input type="text" name="poste_souhaite">
                    </div>
                    <div class="col s12 pad_to_right">
                        <label for="file">JOINDRE VOTRE CV (WORD OU PDF)</label>
                        <input type="file" name="file" placeholder="SÉLECTIONNER LE FICHIER" class="attach_file">
                    </div>
                    <div class="col s12 pad_to_right">
                        <label for="message">MESSAGE</label>
                        <textarea></textarea>
                    </div>
                    <div class="col s6 m3 l3 pad_to_right">
                        <input type="submit" value="ENVOYER" class="poste_envoyer">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container" id="postes_details">
    <div class="row">
        <div class="col s12">
            <h1 class="blue-bar">Détails sur les postes à combler</h1>
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header">Réceptionniste</div>
                    <div class="collapsible-body">
                        <div class="had-ontainer">
                            <div class="row">
                                <div class="col s12" id="candidat">
                                    <h3>Le candidat idéal</h3>
                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                        Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at
                                        lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam
                                        id dolor id nibh ultricies vehicula ut id elit.</p>
                                </div>
                                <div class="col s12 m6 l6" id="description_poste">
                                    <h3>Description du poste</h3>
                                    <ul>
                                        <li>Aenean lacinia bibendum nulla sed consectetur.</li>
                                        <li>Nulla vitae elit libero, a pharetra augue.</li>
                                        <li>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                                            massa justo sit amet risus.</li>
                                        <li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
                                        <li>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</li>
                                    </ul>
                                </div>
                                <div class="col s12 m6 l6" id="qualifications">
                                    <h3>Qualifications requises</h3>
                                    <ul>
                                        <li>Aenean lacinia bibendum nulla sed consectetur.</li>
                                        <li>Nulla vitae elit libero, a pharetra augue.</li>
                                        <li>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                                            massa justo sit amet risus.</li>
                                        <li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
                                        <li>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Programmeur back-end</div>
                    <div class="collapsible-body">
                        <div class="had-ontainer">
                            <div class="row">
                                <div class="col s12" id="candidat">
                                    <h3>Le candidat idéal</h3>
                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                        Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at
                                        lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam
                                        id dolor id nibh ultricies vehicula ut id elit.</p>
                                </div>
                                <div class="col s12 m6 l6" id="description_poste">
                                    <h3>Description du poste</h3>
                                    <ul>
                                        <li>Aenean lacinia bibendum nulla sed consectetur.</li>
                                        <li>Nulla vitae elit libero, a pharetra augue.</li>
                                        <li>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                                            massa justo sit amet risus.</li>
                                        <li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
                                        <li>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</li>
                                    </ul>
                                </div>
                                <div class="col s12 m6 l6" id="qualifications">
                                    <h3>Qualifications requises</h3>
                                    <ul>
                                        <li>Aenean lacinia bibendum nulla sed consectetur.</li>
                                        <li>Nulla vitae elit libero, a pharetra augue.</li>
                                        <li>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                                            massa justo sit amet risus.</li>
                                        <li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
                                        <li>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Machiniste</div>
                    <div class="collapsible-body">
                        <div class="had-ontainer">
                            <div class="row">
                                <div class="col s12" id="candidat">
                                    <h3>Le candidat idéal</h3>
                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                        Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at
                                        lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam
                                        id dolor id nibh ultricies vehicula ut id elit.</p>
                                </div>
                                <div class="col s12 m6 l6" id="description_poste">
                                    <h3>Description du poste</h3>
                                    <ul>
                                        <li>Aenean lacinia bibendum nulla sed consectetur.</li>
                                        <li>Nulla vitae elit libero, a pharetra augue.</li>
                                        <li>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                                            massa justo sit amet risus.</li>
                                        <li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
                                        <li>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</li>
                                    </ul>
                                </div>
                                <div class="col s12 m6 l6" id="qualifications">
                                    <h3>Qualifications requises</h3>
                                    <ul>
                                        <li>Aenean lacinia bibendum nulla sed consectetur.</li>
                                        <li>Nulla vitae elit libero, a pharetra augue.</li>
                                        <li>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                                            massa justo sit amet risus.</li>
                                        <li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
                                        <li>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}