{{ partial "head.html" . }} {{ partial "header.html" . }}

<div class="had-container" id="schema">
    <div class="container">
        <div class="gif">
            <!-- <img src="/img/technologies/technologies-en-nloop.gif" alt="Cryos Technologies"> -->
            <img src="/img/technologies/technologies-gif-final.gif" alt="Cryos Technologies">
        </div>
    </div>
</div>

<div class="had-container" id="technologies">
    <div class="container">
        <!-- <div class="row quote-row">
            <div class="col s12 m10 offset-m1 l8 offset-l2">
                <p class="quote">
                    « Treating patients every day motivated us to pursue our research to produce an orthotic that would fit into most shoes, stimulate movement and most importantly, help patients to regain their mobility and active lifestyles. »
                </p>
                <span class="author">Philippe Legaré, DPM and Cryos leader.</p>
            </div>
        </div> -->
        <div class="row">
            <h1 class="black-bar">A unique orthotic experience enhanced by advanced imaging and 3D technology.</h1>
            <div class="item-1 col s12">
                <div class="row valign-wrapper">
                    <div class="col s12 m12 l7 oc-img valign iframe">
                        <iframe width="100%" src="https://www.youtube.com/embed/4vNRdY0am1o?rel=0&showinfo=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <div class="col s12 m12 l5 oc-txt valign">
                    {{ if eq .Lang "fr" }}
                        <h3>L’arrière pied dynamique </h3>
                        <p>L'encoche et les bras (soit médial ou latéral) permettent un positionnement correctif de l'arrière pied, normalement sans l'ajout de matériau extrinsèque. Ils guident l'articulation sous-astragalienne au moment du contact du talon vers la pronation ou supination, selon le cas, permettant à l'articulation médio-tarse de s'engager totalement, menant à la résupination et à une propulsion saine. Aussi, l'encoche libère l'orthèse pour générer plus de torsion ; ceci augmente la flexion-extension et maximise le transfert des forces de façon à optimiser l'efficacité musculaire lors du cycle de marche. L'orthèse possède la capacité intrinsèque de diriger correctement ces forces ; ce facteur clé permet à l'orthèse de requérir très peu et souvent aucun matériau extrinsèque pour guider et contrôler le positionnement du pied.</p>
                    {{ else if eq .Lang "en" }}
                        <h3>End to End Digital Solution </h3>
                        <p>Everything we do is done to help more people rediscover the pleasure of an active lifestyle. In order to do this, we are focused on making our orthotic therapy the most effective possible. The use of 3D technologies from start to finish in the production of our orthotics is a game changer in preserving the initial data of the patient’s foot and minimizing manual modifications still present in most laboratories. In a business where precision counts, the intelligent use of 3D technologies has led to a giant leap forward in being able to produce the most precise orthotic possible.</p>
                    {{ end }}
                    </div>
                </div>
            </div>
            <div class="item-2 col s12">
                <div class="row valign-wrapper">
                    <div class="col s12 m12 l7 oc-img push-l5 valign"></div>
                    <div class="col s12 m12 l5 oc-txt pull-l7 valign">
                    {{ if eq .Lang "fr" }}
                        <h3>Le contrôle de l’arche flexible</h3>
                        <p>Grâce à l'arche flexible, ajustée aux besoins spécifiques de chaque patient, le pied n'est pas immobilisé, mais plutôt guidé dans son mouvement naturel.</p>
                    {{ else if eq .Lang "en" }}
                        <h3>Evidence-Based Approach </h3>
                        <p>It is only through disciplined measurement that the treatment can be optimized. Measurement is critical to ensuring positive treatment outcomes. The CryoVizion allows for objective data before and after the use of orthotics. You can visually see the difference in muscle activities, posture, alignment and how they have been corrected. </p>
                    {{ end }}
                    </div>
                </div>
            </div>
            <div class="item-3 col s12">
                <div class="row valign-wrapper">
                    <div class="col s12 m12 l7 oc-img valign"></div>
                    <div class="col s12 m12 l5 oc-txt valign">
                    {{ if eq .Lang "fr" }}
                        <h3>Polymère hypoallergène : un plastique spécialement adapté</h3>
                        <p>Les orthèses Cryos sont fabriquées à partir d'un polymère hypoallergénique spécialement conçu afin d'augmenter ses propriétés de force, de flexibilité et de mémoire flexion-extension. C'est un matériau particulièrement durable et résistant allongeant ainsi la durée de vie des orthèses.</p>
                    {{ else if eq .Lang "en" }}
                        <h3>Patient Experience </h3>
                        <p>In an environment where price is such a dominant criterion of choice, patient experience is critical to creating trust, understanding and an enhanced perception of value.  These make a difference. Being able to differentiate what you are doing is fundamental to commanding a premium. The combination of a unique dynamic orthotic and the technologies forms an elite solution that the patient will not soon forget. </p>
                    {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="had-container" id="contact_us">
    <div class="container">
        <div class="row">
            <div class="col s12 center-align">
                {{ if eq .Lang "fr" }}<a href="{{ .Site.BaseURL }}trouver-une-clinique">Trouver une clinique{{ else if eq .Lang "en" }}<a href="{{ .Site.BaseURL }}en/company/contact/" class="trouver-btn btn vide">Contact us for more information{{ end }} <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="had-container" id="nos_partenaires">
    <div class="container">
        <div class="row">
            <div class="col s12">

            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}