{{ partial "head.html" . }}

    {{ partial "header.html" . }}

<div class="container cryovizion" id="oc-carousel">
    <div class="row">
        <div class="col s12">
            <div class="col s12 m5 l4 oc-title">
            {{ if eq .Lang "fr" }}
                <h1>Le système d’imagerie posturale CryoVizion</h1>
                <p>Obtenez une compréhension globale de votre état postural.</p>
                <div><a href="#news"><span class="token">Articles récents</span></a></div>
            {{ else if eq .Lang "en" }}
                <h1>CryoVizion imaging system</h1>
                <p>See it more clearly with CryoVizion postural imaging</p>
                <!-- <div><a href="#news"><span class="token">Articles récents</span></a></div> -->
            {{ end }}
            </div>
            <div class="col s12 m7 l8" style="padding:0;">
                <div class="video-container">
                {{ if eq .Lang "fr" }}
                    <iframe width="100%" src="https://www.youtube.com/embed/wnOdOmwjLEI?rel=0&amp;showinfo=0&autoplay=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                {{ else if eq .Lang "en" }}
                    <iframe width="100%" src="https://www.youtube.com/embed/BtcNd7FbBc0?rel=0&amp;showinfo=0&autoplay=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                {{ end }}
                </div>
                <div class="owl-carousel owl-theme">
                    <div class="owl-content">
                        <img src="{{.Site.BaseURL}}img/cryovizion_pro/video_cryovizion.jpg" alt="">
                    {{ if eq .Lang "fr" }}
                        <h3>Les étapes du CryoVizion</h3>
                        <p>Le CryoVizion est un système d’imagerie non-invasif facilitant l’obtention une compréhension globale de votre état postural. Il produit des topographies colorées du relief de votre système musculo-squelettique permettant au podiatre traitant de mieux évaluer et de mesurer votre état. </p>
                    {{ else if eq .Lang "en" }}
                        <h3>Cryovizion's steps</h3>
                        <p>CryoVizion is a totally non-invasive imaging solution that uses skin surface mappings for postural assessment.</p>
                    {{ end }}
                    </div>
                    <div class="owl-content">
                        <img src="{{.Site.BaseURL}}img/cryovizion_pro/video_cryovizion_2.jpg" alt="">
                    {{ if eq .Lang "fr" }}
                        <h3>Les étapes du CryoVizion</h3>
                        <span class="chiffre">1</span>
                        <p>Vous entrez dans une cabine d'observation où des caméras captent le reflet de la lumière projetée sur l'ensemble de votre corps.</p>
                    {{ else if eq .Lang "en" }}
                        <h3>Cryovizion's steps</h3>
                        <span class="chiffre">1</span>
                        <p>You enter an observation booth where cameras capture the reflections of light projected onto your entire body.</p>
                    {{ end }}
                    </div>
                    <div class="owl-content">
                        <img src="{{.Site.BaseURL}}img/cryovizion_pro/video_cryovizion_3.jpg" alt="">
                    {{ if eq .Lang "fr" }}
                        <h3>Les étapes du CryoVizion</h3>
                        <span class="chiffre">2</span>
                        <p>Le logiciel CryoVizion produit des topographies colorées du relief de votre système musculo-squelettique permettant au podiatre de mieux évaluer et de mesurer votre état.</p>
                    {{ else if eq .Lang "en" }}
                        <h3>Cryovizion's steps</h3>
                        <span class="chiffre">2</span>
                        <p>CryoVizion software produces coloured topographic images that show your musculoskeletal system in relief, allowing the podiatrist to better evaluate and measure your condition.</p>
                    {{ end }}
                    </div>
                    <div class="owl-content">
                        <img src="{{.Site.BaseURL}}img/cryovizion_pro/video_cryovizion_4.jpg" alt="">
                    {{ if eq .Lang "fr" }}
                        <h3>Les étapes du CryoVizion</h3>
                        <span class="chiffre">3</span>
                        <p>Vous pouvez maintenant voir et comprendre votre état postural grâce à l'imagerie générée par le système CryoVizion et aux explications détaillées de votre podiatre.</p>
                    {{ else if eq .Lang "en" }}
                        <h3>Cryovizion's steps</h3>
                        <span class="chiffre">3</span>
                        <p>Now you are able to see and understand your postural condition thanks to the images generated by the CryoVizion system and the detailed explanations from your podiatrist.</p>
                    {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="had-container" id="vert">
    <div class="container">
        <div class="row">
            <h1 class="black-bar">{{ if eq .Lang "fr" }}Plus d'informations{{ else if eq .Lang "en" }}More information {{ end }}</h1>
            <div class="item-1 patients col s12">
                <div class="row valign-wrapper">
                    <div class="col s12 m12 l7 oc-img valign"></div>
                    <div class="col s12 m12 l5 oc-txt valign">
                    {{ if eq .Lang "fr" }}
                        <h3>Faites équipe avec votre podiatre</h3>
                        <p>Obtenez une meilleure compréhension de votre évaluation et de meilleurs résultats en ralliant l’expertise de votre podiatre à votre détermination. </p>
                    {{ else if eq .Lang "en" }}
                        <h3>Team up with your postural health professional</h3>
                        <p>Obtain a better understanding of your evaluation and get optimal results by combining your podiatrist’s expertise with your own determination. </p>
                    {{ end }}
                    </div>
                </div>
            </div>
            <div class="item-2 patients col s12">
                <div class="row valign-wrapper">
                    <div class="col s12 m12 l7 oc-img push-l5 valign"></div>
                    <div class="col s12 m12 l5 oc-txt pull-l7 valign">
                    {{ if eq .Lang "fr" }}
                        <h3>Clarifiez votre évaluation</h3>
                        <p>Voyez concrètement votre état en images pour mieux comprendre vos problèmes posturaux. </p>
                    {{ else if eq .Lang "en" }}
                        <h3>Clarify your evaluation</h3>
                        <p>Clearly observe your condition with the different images to better understand your postural problems.</p>
                    {{ end }}
                    </div>
                </div>
            </div>
            <div class='item-3 patients col s12 {{ if eq .Lang "en" }}anglais{{end}}'>
                <div class="row valign-wrapper">
                    <div class="col s12 m12 l7 oc-img valign"></div>
                    <div class="col s12 m12 l5 oc-txt valign">
                    {{ if eq .Lang "fr" }}
                        <h3>Visualisez votre progression</h3>
                        <p>Suivez de façon objective votre évolution en comparant les résultats de vos traitements. </p>
                    {{ else if eq .Lang "en" }}
                        <h3>Monitor your progress</h3>
                        <p>Follow your progress objectively by comparing the results of your treatments over time.</p>
                    {{ end }}
                    </div>
                </div>
            </div>
            <div class="item-4 patients col s12">
                <div class="row valign-wrapper">
                    <div class="col s12 m12 l7 oc-img push-l5 valign"></div>
                    <div class="col s12 m12 l5 oc-txt pull-l7 valign">
                    {{ if eq .Lang "fr" }}
                        <h3>Obtenez la paix d’esprit</h3>
                        <p>Demeurez en confiance tout au long de votre traitement. La technologie CryoVizion est scientifiquement validée et utilisée en milieu clinique depuis plus de 10 ans. </p>
                    {{ else if eq .Lang "en" }}
                        <h3>Obtain peace-of-mind</h3>
                        <p>Remain confident throughout your treatment. CryoVizion technology is scientifically proven, with more than 15 years of clinical use. </p>
                    {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "contact-btn-section.html" . }}

<!-- Display news only in french -->
{{ if eq .Lang "fr" }}
<div class="had-container vert" id="news">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="green-bar">Articles</h1>
                <div class="owl-carousel owl-theme" id="news-carousel">
                    <!-- check if cryovizion_patients is true in the .md -->
                    {{ range where .Site.Pages ".Params.cryovizion_patients" true }}
                    <div class="card small item">
                        <div class="card-img"><a href="{{ .Permalink }}"><img src="{{.Site.BaseURL}}{{ .Params.blog_img}}" alt="{{ .Params.titre }}"></a></div>
                        <a href="{{ .Permalink }}"><div class="card-title">{{ .Params.titre }}</div></a>
                        <div class="card-txt"><a href="{{ .Permalink }}">{{ .Summary }}</a></div>
                        <div class="card-link"><a href="{{ .Permalink }}">voir l'article complet ></a></div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ else if eq .Lang "en" }}
<div class="had-container vert" id="news">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="green-bar">Articles</h1>
                <div class="owl-carousel owl-theme" id="news-carousel">
                    <!-- check if cryovizion_patients is true in the .md -->
                    {{ range where .Site.Pages ".Params.cryovizion_patients" true }}
                    <div class="card small item">
                        <div class="card-img"><a href="{{ .Permalink }}"><img src="{{.Site.BaseURL}}{{ .Params.blog_img}}" alt="{{ .Params.titre }}"></a></div>
                        <a href="{{ .Permalink }}"><div class="card-title">{{ .Params.titre }}</div></a>
                        <div class="card-txt"><a href="{{ .Permalink }}">{{ .Summary }}</a></div>
                        <div class="card-link"><a href="{{ .Permalink }}">See full article ></a></div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}

<div class="had-container" id="clients_satisfaits">
    <div class="container">
        <div class="row">
            <div class="col s12">
            {{ if eq .Lang "fr" }}
                <h1 class="white-bar">Témoignage</h1>
            {{ else if eq .Lang "en" }}
                <h1 class="white-bar">Testimonial</h1>
            {{ end }}
            {{ if eq .Lang "fr" }}
                <p>{{ .Site.Data.temoignages.cryovizionpatients.temoignagefr }}</p>
                <p class="nom">-{{ .Site.Data.temoignages.cryovizionpatients.temoinfr}}</p>
            {{ else if eq .Lang "en" }}
                <p>{{ .Site.Data.temoignages.cryovizionpatients.temoignageen }}</p>
                <p class="nom">-{{ .Site.Data.temoignages.cryovizionpatients.temoinen}}</p>
            {{ end }}
                <div class="timg"><img src="{{.Site.BaseURL}}{{ .Site.Data.temoignages.cryovizionpatients.image}}" alt="Podiatre"></div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}