{{ partial "head.html" . }} {{ partial "header.html" . }}

<div class="container" id="oc-carousel">
    <div class="row">
        <div class="col s12">
            <div class="col s12 m5 l4 oc-title">
                <h1>Nos orthèses dynamiques</h1>
                <p>Correction de la dysfonction biomécanique par le mouvement naturel</p>
                <div><a href="#news"><span class="token">Articles récents</span></a></div>
            </div>
            <div class="col s12 m7 l8" style="padding:0;">
                <div class="video-container">
                    <iframe width="100%" src="https://www.youtube.com/embed/Z717r5SsAlk?rel=0&amp;showinfo=0&autoplay=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <div class="owl-carousel owl-theme">
                    <div class="owl-content">
                        <img src="{{.Site.BaseURL}}img/orthese_patients/carousel-mobile/efficace.jpg" alt="">
                        <h3>Efficace</h3>
                        <p>Les orthèses Cryos guident le pied dans le mouvement approprié, sans le bloquer.</p>
                    </div>
                    <div class="owl-content">
                        <img src="{{.Site.BaseURL}}img/orthese_patients/carousel-mobile/petite.jpg" alt="ortheses petites">
                        <h3>Petite</h3>
                        <p>Elles sont faciles à porter dans tous les types de chaussures, ce qui vous permet de les porter plus souvent, et d’obtenir ainsi de meilleurs résultats.</p>
                    </div>
                    <div class="owl-content">
                        <img src="{{.Site.BaseURL}}img/orthese_patients/carousel-mobile/confortable.jpg" alt="orthese confortable">
                        <h3>Confortable</h3>
                        <p>Chaque orthèse Cryos est unique et adaptée aux besoins spécifiques du patient. </p>
                    </div>
                    <div class="owl-content">
                        <img src="{{.Site.BaseURL}}img/orthese_patients/carousel-mobile/performante.jpg" alt="orthese performante">
                        <h3>Performante</h3>
                        <p>La conception unique des orthèses offre des propriétés correctives exceptionnelles</p>
                    </div>
                    <div class="owl-content">
                        <img src="{{.Site.BaseURL}}img/orthese_patients/carousel-mobile/discrete.jpg" alt="orthese discrete">
                        <h3>Discrète</h3>
                        <p>Elles sont très discrètes. Le patient peut donc les porter en toute confiance. </p>
                    </div>
                    <div class="owl-content">
                        <img src="{{.Site.BaseURL}}img/orthese_patients/carousel-mobile/resistante.jpg" alt="orthese resistante">
                        <h3>Résistance</h3>
                        <p>Le plastique utilisé pour les orthèses est particulièrement durable.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="had-container" id="orange">
    <div class="container">
        <div class="row">
            <h1 class="black-bar">Les orthèses dynamiques Cryos</h1>
            <div class="item-1 patients col s12">
                <div class="row valign-wrapper">
                    <div class="col s12 m12 l7 oc-img valign"></div>
                    <div class="col s12 m12 l5 oc-txt valign">
                        <h3>Fabriquées selon vos besoins </h3>
                        <p>Les orthèses Cryos sont fabriquées à partir d’un polymère hypoallergénique spécialement conçu afin d’augmenter ses propriétés de force, de flexibilité et de mémoire flexion-extension. C’est un matériau particulièrement durable et résistant allongeant ainsi la durée de vie des orthèses. Grâce à son arche flexible, ajustée aux besoins spécifiques de chaque patient, le pied n’est pas immobilisé, mais plutôt guidé dans son mouvement naturel. </p>
                    </div>
                </div>
            </div>
            <div class="item-2 patients col s12">
                <div class="row valign-wrapper">
                    <div class="col s12 m12 l7 oc-img push-l5 valign"></div>
                    <div class="col s12 m12 l5 oc-txt pull-l7 valign">
                        <h3>Elles guident le pied dans son mouvement naturel</h3>
                        <p>Les dents de scie de l’avant pied assurent le positionnement adéquat de l’avant-pied et stabilisent ou auto-corrigent la position de l’orthèse en mouvement. Tandis que l’encoche et les bras (soit médial ou latéral) permettent un positionnement correctif de l’arrière pied, normalement sans l’ajout de matériau extrinsèque. Ils guident le pied au moment du contact du talon. </p>
                    </div>
                </div>
            </div>
            <div class="item-3 patients col s12">
                <div class="row valign-wrapper">
                    <div class="col s12 m12 l7 oc-img valign"></div>
                    <div class="col s12 m12 l5 oc-txt valign">
                        <h3>Elles se portent en toute confiance</h3>
                        <p>Les orthèses dynamiques sur mesure sont recommandées pour la plupart des problématiques liées à la biomécanique du corps et pathologies podiatriques. Elles sont prescrites autant pour les enfants que les adultes. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "contact-btn-section.html" . }}

<div class="had-container" id="news">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="orange-bar">Articles</h1>
                <div class="owl-carousel owl-theme" id="news-carousel">
                    <!-- check if orthese_patients is true in the .md -->
                    {{ range where .Site.Pages ".Params.orthese_patients" true }}
                    <div class="card small">
                        <div class="card-img"><img src="{{.Site.BaseURL}}{{ .Params.blog_img}}" alt="{{ .Params.titre }}"></div>
                        <a href="{{ .Permalink }}"><div class="card-title">{{ .Params.titre }}</div></a>
                        <div class="card-txt">{{ .Summary }}</div>
                        <div class="card-link"><a href="{{ .Permalink }}">voir l'article complet ></a></div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="had-container" id="clients_satisfaits">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="white-bar">Témoignage</h1>
                <p>Je porte des orthèses depuis mon plus jeune âge et le souvenir que je garde des ajustements et des douleurs aux jambes est pénible. Depuis 2005, j'ai changé pour des orthèses Cryos et je m'y suis habituée rapidement. Elles sont légères, faciles d'entretien et mes orthèses me suivent dans tous les souliers de mes activités, des talons hauts aux sports nautiques!</p>
                <p class="nom">-Dominique Leblanc, médiatrice </p>
                <div class="timg"><img src="{{.Site.BaseURL}}img/temoignage/dominique_leblanc.png" alt="Cliente satisfaite"></div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}