{{ partial "head.html" . }}

    {{ partial "header.html" . }}
    <div class="container">
    	<h2 class="titre-trouver">{{ if eq .Lang "fr" }}Trouver la clinique</br> la plus près de chez vous{{ else if eq .Lang "en" }}Find a clinic</br> near you{{ end }}</h2>
    </div>
    <div id="searchbar">
    	<div class="container row bh-sl-form-container">
    		<form id="bh-sl-user-location" action="#">
    			<div class="col m9 s12">
						<div class="form-input">
							<label for="bh-sl-address">{{ if eq .Lang "fr" }}code postal, adresse ou ville{{ else if eq .Lang "en" }}postal code, address or city{{ end }}</label>
							<input type="text" id="bh-sl-address" name="bh-sl-address" placeholder="" />
							<select id="bh-sl-maxdistance" name="bh-sl-maxdistance">
	              <option value="10">10 km</option>
	              <option value="20">20 km</option>
	              <option value="30">30 km</option>
	              <option value="40">40 km</option>
	              <option value="50">50 km</option>
	              <option value="100">100 km</option>
	              <option value="200" selected="selected">200 km</option>
	            </select>
	            <button id="bh-sl-submit" type="submit"><i class="fa fa-chevron-right"></i></button>
						</div>
    			</div>
    			<!-- <div class="col m5 s12">
    				<div class="form-input">
							<label for="bh-sl-search">nom d'une clinique</label>
							<input type="text" id="bh-sl-search" name="bh-sl-search" placeholder=""/>
	            <button id="bh-sl-submit" type="submit"><i class="fa fa-chevron-right"></i></button>
	          </div>
    			</div> -->
    		</form>
    	</div>
    </div>
    <div class="container" id="mapcontainer">
			<div id='bh-sl-map-container-{{ if eq .Lang "fr" }}fr{{ else if eq .Lang "en" }}en{{ end }}' class="bh-sl-map-container">
				<div id="bh-sl-map" class="bh-sl-map"></div>
				<div class="bh-sl-loc-list">
					<ul class="list"></ul>
				</div>
			</div>
		</div>
{{ if eq .Lang "fr" }}
<script>
	var locations = [];
	{{ range $.Site.Data.locations }}
		locations.push({name:{{ .nomClinique }}, lat:{{ .latitude }}, lng:{{ .longitude }}, address:{{ .address }}, city:{{ .ville }}, state:{{ .pays }}, web:{{ .site }}, slug: {{ .slug }} });
	{{ end }}
  var data = JSON.stringify(locations);
</script>
{{ else if eq .Lang "en" }}
<script>
	var locations = [];
	{{ range $.Site.Data.locations }}
		locations.push({name:{{ .nomClinique }}, lat:{{ .latitude }}, lng:{{ .longitude }}, address:{{ .address }}, city:{{ .ville }}, state:{{ .pays }}, web:{{ .site }}, slug: {{ .slug }} });
	{{ end }}
  var data = JSON.stringify(locations);
</script>
{{ end }}
    
{{ partial "footer.html" . }}