<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Landing</title>
  <meta name="description" content="Landing description" />
</head>
<body>
  <div class="hero">
    <h1 class="hero-title">Orthotics for every shoe, every day, every occasion</h1>
    <img src="/img/ca-en/shutterstock_1294920118-new.jpg" alt="" class="hero-image" />
    <img src="/img/Logo_CRYOS_FR.png" alt="" class="CRYOS logo" />
  </div>
  <main>
    <div class="holder benefits">
      <div class="benefit">
        <div class="benefit-image">
          <img src="/img/ca-en/iStock-171109361.jpg" alt="" />
        </div>
        <h2 class="benefit-title">For Foot Specialists</h2>
        <h3 class="benefit-caption">Benefits to Foor Specialists</h3>
        <ul class="benefit-points">
          <li class="benefit-point">Reduces wasted therapeutic effort from patient non compliance</li>
          <li class="benefit-point">Enables long term management of patient with structured follow up process</li>
          <li class="benefit-point">Provides on going means to illustrate and communicate success to patient</li>
        </ul>
      </div>
      <div class="benefit">
        <div class="benefit-image">
          <img src="/img/ca-en/iStock-637871908.jpg" alt="" />
        </div>
        <h2 class="benefit-title">For Patients</h2>
        <h3 class="benefit-caption">Benefits to Patients</h3>
        <ul class="benefit-points">
          <li class="benefit-point">Comfort, pain relief, freedom to be active</li>
          <li class="benefit-point">Orthotic solution that matches their lifestyle and foorwear choices</li>
          <li class="benefit-point">Ongoing engagement and sense of co-management of condition with foot specialist</li>
        </ul>
      </div>
      <div class="benefit">
        <div class="benefit-image">
          <img src="/img/ca-en/iStock-1062430450.jpg" alt="" />
        </div>
        <h2 class="benefit-title">For Clinic Staff</h2>
        <h3 class="benefit-caption">Benefits to Clinic Staff</h3>
        <ul class="benefit-points">
          <li class="benefit-point">Redeploy staff to focus on higher value clinic work</li>
          <li class="benefit-point">More time for patient reception and engagement</li>
          <li class="benefit-point">Free up valuable clinic space</li>
        </ul>
      </div>
      <div class="benefit">
        <div class="benefit-image">
          <img src="/img/ca-en/iStock_000066630999_Large.jpg" alt="" />
        </div>
        <h2 class="benefit-title">For Community & Environment</h2>
        <h3 class="benefit-caption">Community & Environmental Benefits</h3>
        <ul class="benefit-points">
          <li class="benefit-point">Less employee time away from work</li>
          <li class="benefit-point">Healthier, happier more productive orthotic wearers</li>
          <li class="benefit-point">Environmental footprint from manufacturing and disposal of sundries is significantly reduced when essential foot measurements are captured and transmitted electronically</li>
          <li class="benefit-point">Orthotics are manufactured with minimal material</li>
        </ul>
      </div>
      <div class="benefit">
        <div class="benefit-image">
          <img src="/img/ca-en/iStock-903010268.jpg" alt="" />
        </div>
        <h2 class="benefit-title">For Health Care</h2>
        <h3 class="benefit-caption">Benefits to Health Care</h3>
        <ul class="benefit-points">
          <li class="benefit-point">Decrease episodic clinic visits and focus on prevention and treatment regimen</li>
          <li class="benefit-point">Minimize costly acute care due to patient non-compliance</li>
          <li class="benefit-point">Promotes continuity of care between patient and foot specialist</li>
        </ul>
      </div>
    </div>
  </main>
  <footer class="landing-footer">
    <img src="/img/Logo_CRYOS_FR.png" alt="" class="CRYOS logo" />
    <h2 class="landing-footer-title">For more information, please contact us:</h2>
    <p>385, rue de Salaberry, Joliette (Québec) Canada J6E 4G4</p>
    <p class="landing-footer-contacts"><a href="mailto:info@cryos.com">info@cryos.com</a> Tel. : +1 (877) 272-7967</p>
  </footer>
</body>
</html>