{{ partial "head.html" . }}

    {{ partial "header.html" . }}

<div class="container cryovizion" id="oc-carousel">
    <div class="row">
        <div class="col s12">
            <div class="col s12 m5 l4 oc-title">
                <h1>Système d'imagerie Cryovizion</h1>
                <p>En une seule image, une vision claire et exhaustive de l’état postural du patient. </p>
                <div><a href=" {{ .Site.BaseURL }}compagnie/contact/"><span class="token">Contactez-nous</span></a></div>
            </div>
            <div class="col s12 m7 l8" style="padding:0;">
                <div class="owl-carousel owl-theme">
                    <div class="owl-content">
                        <img src="{{.Site.BaseURL}}img/cryovizion_Pro/video_cryovizion.jpg" alt="">
                        <h3>Les étapes du CryoVizion</h3>
                        <span class="chiffre">1</span>
                        <p>Le patient entre dans une cabine d'observation où deux unités d'éclairage fluorescent (DEL) projettent une lumière vive sur l'ensemble de son corps. À la commande du professionnel, les deux caméras captent les images des membres inférieurs et du corps complet du patient dans différentes positions, alors qu'une numérisation de la plante du pied est réalisée. Le système d'imagerie posturale scientifiquement validé<sup>1</sup> CryoVizion saisit et filtre les changements des reflets lumineux sur la surface de la peau.</p>
                        <span style="font-size: 0.5rem; display: block">1.The Journal of Foot & Ankle Surgery 47(5) :409–418, 2008	</span>
                    </div>
                    <div class="owl-content">
                        <img src="{{.Site.BaseURL}}img/cryovizion_Pro/video_cryovizion_2.jpg" alt="">
                        <h3>Les étapes du CryoVizion</h3>
                        <span class="chiffre">2</span>
                        <p>À partir des images captées, le logiciel CryoVizion produit des topographies graphiques en couleurs de la surface de la peau. Celles-ci mettent clairement en évidence les variations de surface occasionnées par des pathologies posturales, structurales et musculo-squelettiques ainsi que d'autres anomalies. Différentes mesures peuvent alors être effectuées à même les images pour une évaluation approfondie et objective. </p>
                    </div>
                    <div class="owl-content">
                        <img src="{{.Site.BaseURL}}img/cryovizion_Pro/video_cryovizion.jpg" alt="">
                        <h3>Les étapes du CryoVizion</h3>
                        <span class="chiffre">3</span>
                        <p>Le professionnel communique au patient les résultats de l'évaluation à l'aide des images filtrées, afin qu'il voit concrètement son état, comprenne le diagnostic et adhère au traitement en toute confiance.</p>
                    </div>
                    <div class="owl-content">
                        <img src="{{.Site.BaseURL}}img/cryovizion_Pro/video_cryovizion_2.jpg" alt="">
                        <h3>Les étapes du CryoVizion</h3>
                        <span class="chiffre">4</span>
                        <p>À la suite du traitement recommandé, le podiatre effectuera un suivi durant lequel il procédera à une nouvelle prise d'images pour constater et mesurer objectivement l'évolution des résultats du traitement et ajuster ce dernier au besoin. Les suivis imagés sont automatiquement consignés au dossier du patient et constitue un historique documenté.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="had-container" id="vert">
    <div class="container">
        <div class="row">
            <h1 class="black-bar">Plus d'informations</h1>
            <div class="item-1 col s12">
                <div class="row valign-wrapper">
                    <div class="col s12 m12 l7 oc-img valign"></div>
                    <div class="col s12 m12 l5 oc-txt valign">
                        <h3>Évaluation simplifiée pour le patient</h3>
                        <p>Les images claires et faciles à comprendre de CryoVizion vous aident à mieux expliquer au patient les problèmes posturaux qui l’affectent. </p>
                    </div>
                </div>
            </div>
            <div class="item-2 col s12">
                <div class="row valign-wrapper">
                    <div class="col s12 m12 l7 oc-img push-l5 valign"></div>
                    <div class="col s12 m12 l5 oc-txt pull-l7 valign">
                        <h3>Constatation concrète des progrès du patient</h3>
                        <p>Le système d’imagerie vous permet de suivre les progrès du patient de manière objective en comparant son état initial à son état après le traitement, tout en documentant l’efficacité du traitement.</p>
                    </div>
                </div>
            </div>
            <div class="item-3 col s12">
                <div class="row valign-wrapper">
                    <div class="col s12 m12 l7 oc-img valign"></div>
                    <div class="col s12 m12 l5 oc-txt valign">
                        <h3>Établissement d’un rapport de confiance et de loyauté avec le patient</h3>
                        <p>À l’aide d’une technologie scientifiquement éprouvée et utilisée en milieu clinique depuis plus de 20 ans, vous offrez une vision claire de l’amélioration de la posture du patient et bâtissez ainsi une saine relation avec lui, basée sur la confiance. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "contact-btn-section.html" . }}

<div class="had-container" id="clients_satisfaits">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="white-bar">Témoignages</h1>
                <p>Le système CryoVizion me permet de prouver objectivement et d'illustrer mes mesures à mes patients afin qu'ils comprennent mieux l'importance des orthèses, ce qui finalement augmente la complaisance.Le système CryoVizion me permet de prouver objectivement et d'illustrer mes mesures à mes patients afin qu'ils comprennent mieux l'importance des orthèses, ce qui finalement augmente la complaisance.</p>
                <p class="nom">-Mélanie Laplante, DPM, podiatre</p>
                <div class="timg"><img src="{{.Site.BaseURL}}img/equipe/membre_equipe16.png" alt="Podiatre"></div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}