{{ partial "head.html" . }}

    {{ partial "header.html" . }}

<div class="container cryoscan" id="oc-carousel">
    <div class="row">
        <div class="col s12">
            <div class="col s12 m5 l4 oc-title">
                <h1>Cryoscan 3D <span>Technologie à venir</span></h1>
                <p>La nouvelle génération d'imagerie médicale du pied</p>
                <div><a href=" {{ .Site.BaseURL }}compagnie/contact/"><span class="token">Contactez-nous</span></a></div>
            </div>
            <div class="col s12 m7 l8" style="padding:0;">
                <div class="owl-carousel owl-theme">
                    <div class="owl-content">
                        <img src="{{.Site.BaseURL}}img/scan3D_PRO/video_scan3D_2.jpg" alt="">
                        <h3>Caisson de suspension pour le pied</h3>
                        <p>Offre l'option de scanner en semi-charge et remplace avantageusement les biomousses.</p>
                    </div>
                    <div class="owl-content">
                        <img src="{{.Site.BaseURL}}img/scan3D_PRO/video_scan3D_3.jpg" alt="">
                        <h3>Caméra pour l'ajustement du positionnement des pieds</h3>
                        <p>Assure le positionnement exact des pieds et produit une image impeccable, à chaque fois.</p>
                    </div>
                    <div class="owl-content">
                        <img src="{{.Site.BaseURL}}img/scan3D_PRO/video_scan3D_1.jpg" alt="">
                        <h3>Verre à haute résistance</h3>
                        <p>Permet d'effecture une numérisation en pleine charge (jusqu'à 181 kilos - 400 livres.)</p>
                    </div>
                    <div class="owl-content">
                        <img src="{{.Site.BaseURL}}img/scan3D_PRO/" alt="">
                        <h3>Huit caméras encastrées</h3>
                        <p>Pour obtenir une image tridimensionnelle de très grande qualité du pied, sur toute sa hauteur.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="had-container" id="mauve">
    <div class="container">
        <div class="row">
            <h1 class="black-bar">Plus d'informations</h1>
            <div class="item-1 col s12">
                <div class="row valign-wrapper">
                    <div class="col s12 m12 l7 oc-img valign"></div>
                    <div class="col s12 m12 l5 oc-txt valign">
                        <h3>Précision de haut niveau</h3>
                        <p>Permet d’effectuer une numérisation d’une précision atteignant 250 microns.</p>
                    </div>
                </div>
            </div>
            <div class="item-2 col s12">
                <div class="row valign-wrapper">
                    <div class="col s12 m12 l7 oc-img push-l5 valign"></div>
                    <div class="col s12 m12 l5 oc-txt pull-l7 valign">
                        <h3>Distorsion quasi inexistante</h3>
                        <ul>
                            <li>La capture d’image instantanée (en moins de 0.1 seconde) élimine le risque d’images floues ou ondulées.</li>
                            <li>Les images tridimensionnelles à haute résolution en couleur permettent de suivre toutes les pathologies visibles du pied.</li> 
    						<li>La numérisation reproduit précisément la réalité en 3D (contrairement à la correspondance la plus proche d’une bibliothèque de modèles).</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item-3 col s12">
                <div class="row valign-wrapper">
                    <div class="col s12 m12 l7 oc-img valign"></div>
                    <div class="col s12 m12 l5 oc-txt valign">
                        <h3>Polyvalence</h3>
                        <p>Capacité de scanner le pied en pleine charge, en semi-charge et sans charge. </p>
                    </div>
                </div>
            </div>
            <div class="item-4 col s12">
                <div class="row valign-wrapper">
                    <div class="col s12 m12 l7 oc-img push-l5 valign"></div>
                    <div class="col s12 m12 l5 oc-txt pull-l7 valign">
                        <h3>Sans tracas</h3>
                        <ul>
                            <li>Fiabilité supérieure grâce à l’absence de pièces mobiles</li>
                            <li>Appareil compact facilement intégrable en clinique (38,5cm – largeur, 68,5cm – longueur 17 cm – hauteur) </li> 
                            <li>Processus propre et efficace, sans biomousse et sans saleté laissé par le plâtre.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "contact-btn-section.html" . }}

<div class="had-container hidden" id="clients_satisfaits">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="white-bar">Témoignages</h1>
                <p>Les orthèses Cryos se démarquent de celles sur le marché par leur petite taille et par le fait qu'elles s'insèrent dans la plupart des chaussures. Le plastique est durable et très hygiénique. Des avantages indéniables pour ma clientèle. </p>
                <p>-François Giroux, DPM, podiatre</p>
                <div class="timg"><img src="{{.Site.BaseURL}}img/a_propos/Philippe.png" alt=""></div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}
