<!-- Template for single article -->
{{ $thisauthor := .Params.author }}
{{ range $.Site.Data.authors.authors }}
    {{ if eq .user_nicename $thisauthor}}
        {{ $.Scratch.Set "address" .address }}
        {{ $.Scratch.Set "city" .city }}
        {{ $.Scratch.Set "description" .description }}
        {{ $.Scratch.Set "display" .display_name }}
        {{ $.Scratch.Set "phone" .phone }}
        {{ $.Scratch.Set "email" .user_email }}
        {{ $.Scratch.Set "nicename" .user_nicename }}
        {{ $.Scratch.Set "url" .user_url }}
        {{ $.Scratch.Set "photo" .photo }}
        {{ $.Scratch.Set "descriptionen" .descriptionen }}
    {{ end }}
{{ end }}
{{ partial "head.html" . }}

    {{ partial "header.html" . }}
        <div class="container row" id="article">
            <h1>{{ .Params.titre }}</h1>
            <div class="row">
                <div class="col m12 l9">
                    <img src="{{ .Site.BaseURL }}{{ .Params.blog_img }}" alt="{{ .Params.titre }}" class="responsive-img">
                </div>
                <div class="col m12 l3 share-btn hide-on-med-and-down">
                    <ul>
                        {{ if eq .Lang "fr" }}
                        <li class="fb"><a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"><i class="fa fa-facebook"></i>Partager sur Facebook</a></li>
                        <li class="twitter"><a href="https://twitter.com/home?status={{ .Permalink }}"><i class="fa fa-twitter"></i>Partager sur Twitter</a></li>
                        <li class="courriel"><a href="mailto:?subject=Article intéressant sur le site de Cryos Technologies&body=Une belle lecture pour toi: {{ .Permalink }}"><i class="fa fa-envelope"></i>Partager par courriel</a></li>
                        <li class="comment"><a href="#disqus_thread">Commenter</a></li>
                        {{ else if eq .Lang "en" }}
                        <li class="fb"><a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"><i class="fa fa-facebook"></i>Share on Facebook</a></li>
                        <li class="twitter"><a href="https://twitter.com/home?status={{ .Permalink }}"><i class="fa fa-twitter"></i>Share on Twitter</a></li>
                        <li class="courriel"><a href="mailto:?subject=Article intéressant sur le site de Cryos Technologies&body=Une belle lecture pour toi: {{ .Permalink }}"><i class="fa fa-envelope"></i>Share by email</a></li>
                        <li class="comment"><a href="#disqus_thread">Comment</a></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p class="date">{{ if eq .Lang "fr" }}publié le{{ else if eq .Lang "en" }}published on{{ end }} {{ .Date.Format "02/01/2006"  }}</p>
                </div>
            </div>
            <div class="row corps">
                <div class="col m12 l9 contenu">
                    <div>
                        {{ .Content }}
                        <p class="categories">{{ if eq .Lang "fr" }}Mots-clés:{{ range $i, $e := .Params.categories }}{{ if $i }}/{{ end }} <a href="{{ $.Site.BaseURL }}categories/{{ $e | urlize }}">{{$e}}</a>/ {{end}}{{ else if eq .Lang "en" }}Keywords:{{ range $i, $e := .Params.categories }}{{ if $i }}/{{ end }} <a href="{{ $.Site.BaseURL }}en/categories/{{ $e | urlize }}">{{$e}}</a>/ {{end}}{{ end }}</p>
                        <div id="disqus_thread"></div>
                    </div>
                </div>
                <div class="col m12 l3 auteur">
                    {{ if $.Scratch.Get "photo"}}
                        <img src='{{ .Site.BaseURL }}{{$.Scratch.Get "photo"}}' alt='{{ $.Scratch.Get "nicename" }}' class="responsive-img">
                    {{ else }}
                    <img src='{{ .Site.BaseURL }}img/avatar/{{ $.Scratch.Get "nicename" }}/profile_podiatre.jpg' alt='{{ $.Scratch.Get "nicename" }}' class="responsive-img">
                    {{ end }}
                    <h5>{{ $.Scratch.Get "display" }}</h5>
                    {{ if eq .Lang "fr" }}
                    <p>{{ $.Scratch.Get "description" }}</p>
                    {{ else if eq .Lang "en" }}
                        {{ if $.Scratch.Get "descriptionen"}}
                        <p>{{ $.Scratch.Get "descriptionen" }}</p>
                        {{ else }}
                        <p>{{ $.Scratch.Get "description" }}</p>
                        {{ end }}
                    {{ end }}
                    <ul>
                        <li> {{ $.Scratch.Get "address" }}</li>
                        <li> {{ $.Scratch.Get "city" }}</li>
                        <li> {{ $.Scratch.Get "phone" }}</li>
                        <li><a href='{{ $.Scratch.Get "url" }}'>{{ if eq .Lang "fr" }}Site web{{ else if eq .Lang "en" }}Website{{ end }}</a></li> 
                    </ul>
                </div>
            </div>
        </div>
        <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

        var disqus_config = function () {
        this.page.url = {{.Permalink}};  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = {{ .Params.slug}}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        this.language = "fr";
        };

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://cryos.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
 				
 				
        {{ partial "footer.html" . }}
 			

