<!-- Footer -->
    <div id="footer">
        <div class="container row valign-wrapper">
            <div class="col l5 m12 s12 info-footer">
                <img src="{{.Site.BaseURL}}img/Logo_CRYOS_FR.png" alt="logo-cryos">
                <p><a href="https://www.linkedin.com/company-beta/2037879/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://twitter.com/CryosTechno" target="_blank"><i class="fa fa-twitter"></i></a><!-- Le port d'orthèses plantaires est un traitement prescrit pour remédier aux problèmes de pieds et de posture. Avant d'obtenir un telle prescription, il faut toutefois consulter un professionnel de la santé afin qu'il procède à différentes analyses. Découvrez les principales étapes pour obtenir une prescription d'orthèses plantaires par un podiatre. --></p>
            </div>
            <div class="col l3 m12 s12 center-align">
                <a class="plein trouver-btn btn" href="{{.Site.BaseURL}}trouver-une-clinique">Trouver une clinique</a>
            </div>
            <div class="col l4 m12 s12 adresse valign">
                <p>385 Rue de Salabarry, Joliette QC J6E 4G4</p>
                <p>1-877-272-7967</p>
                <p>sac-cus@cryos.com</p>
            </div>
        </div>
        <div class="row center-align copyright">
            <p><i class="fa fa-copyright"></i> Copyright 2017 Cryos - Tous droits réservés</p>
        </div>
    </div>
<!-- End-Footer -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{.Site.BaseURL}}js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
    
    <script src="{{.Site.BaseURL}}js/vendor/materialize.min.js"></script>
    <!-- Owl Carousel JS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <!-- Owl Carousel JS local fallback -->
    <script>window.jQuery.fn.owlCarousel || document.write('<script src="{{.Site.BaseURL}}js/vendor/owl.carousel.min.js"><\/script>')</script>
    <!-- Owl Carousel CSS local fallback -->
    <div id="owl-carousel" class="hidden"></div>
    <script>
		$(function () {
			if ($('#owl-carousel').is(':visible')) {
				$("head").prepend('<link rel="stylesheet" href="{{.Site.BaseURL}}css/owl.carousel.min.css" />');
                $("head").prepend('<link rel="stylesheet" href="{{.Site.BaseURL}}css/owl.carousel.default.min.css" />');
			}
		});
	</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.8/handlebars.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOntm3XuQ68Q_ONIKXx1MQkJNVnFhrHPs&libraries=places"></script>
    <script src="{{ .Site.BaseURL }}js/vendor/jquery.storelocator.min.js"></script>
    <script src="{{.Site.BaseURL}}js/plugins.js"></script>
    <script src="{{.Site.BaseURL}}js/main.js"></script>
    

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-73128990-15','auto');ga('send','pageview');
    </script>
</body>

</html>