{{ partial "head.html" . }}

    {{ partial "header.html" . }}
	    <!-- Hero -->
		<div id="hero">
			<div class="container">
				<img src="" class="responsive-img" alt="">
			</div>
		</div>
	<!-- End-Hero -->
	<!-- Produits -->
		<div id="produits" class="container">
			<div class="row center-align">
				<div class="col m3 s12">
					<h4>Orthèses cryos dynamiques</h4>
					<p>Correction de la dysfonction biomécanique par le mouvement naturel</p>
				</div>
				<div class="col m3 s12">
					<h4>Système d'imagerie cryovizion</h4>
					<p>En une seule image, une vision claire et exhaustive de l'état postural</p>
				</div>
				<div class="col m3 s12">
					<h4>Cryoscan 3D</h4>
					<p>La nouvelle génération d'imagerie médicale du pied</p>
				</div>
			</div>
		</div>
	<!-- End-Produits -->
	<!-- Trouver-un-programme -->
		<div id="trouverp" class="center-align">
			<div class="container">
				<a id="trouver-btn" class="btn">Trouver une clinique</a>
			</div>
		</div>
	<!-- End-Trouver -->
	<!-- Nouvelles -->
		<div id="nouvelles">
			<div class="container">
				<h2>nouvelles</h2>
			</div>
		</div>
	<!-- End-Nouvelles -->
	<!-- Partenaires -->

	<!-- End-Partenaires -->
{{ partial "footer.html" . }}
