<!-- Listing all articles -->
{{ partial "head.html" . }}

  {{ partial "header.html" . }}
	<div class="row container" id="blogue">
		<h2>{{ if eq .Lang "fr" }}Blogue{{ else if eq .Lang "en" }}Blog{{ end }}</h2>
		<div class="col m12 l9">
			<div class="row">
				<div class="hide-on-large-only">
					<ul class="collapsible" data-collapsible="accordion">
				    <li>
				      <div class="collapsible-header"><h5>{{ if eq .Lang "fr" }}Catégories {{ else if eq .Lang "en" }}Categories {{ end }}<i class="fa fa-chevron-down"></i></h5></div>
				      <div class="collapsible-body categories mobile box">
				      	{{ $tags := $.Site.Taxonomies.categories.ByCount }}
								<ul>
								{{ if eq .Lang "fr" }}
								{{ range $tags }}
								<a href="{{ $.Site.BaseURL }}categories/{{ .Term | urlize }}"><li>{{ .Term }} <!-- ({{ .Count }}) --></li></a>
								{{ end }}
								{{ else if eq .Lang "en" }}
								{{ range $tags }}
								<a href="{{ $.Site.BaseURL }}en/categories/{{ .Term | urlize }}"><li>{{ .Term }} <!-- ({{ .Count }}) --></li></a>
								{{ end }}
								{{ end }}								</ul>
				      </div>
				    </li>
				  </ul>
				</div>
			{{ range where $.Site.Pages "Type" "post" }}
			{{ $thisauthor := .Params.author }}
				{{ range $.Site.Data.authors.authors }}
			    {{ if eq .user_nicename $thisauthor}}
			        {{ $.Scratch.Set "display" .display_name }}
			    {{ end }}
				{{ end }}
				<div class="col s12 article box">
					<a href="{{ .Permalink }}"><img src="{{ .Site.BaseURL }}{{ .Params.blog_img }}" alt="{{ .Params.titre }}" class="responsive-img"></a>
					<div class="resume">
						<a href="{{ .Permalink }}" class="titre">{{ .Params.titre }}</a>
						<p class="meta">{{ if eq .Lang "fr" }}par {{ else if eq .Lang "en" }}by {{ end }}<span class="auteur">{{ $.Scratch.Get "display" }}</span>| {{ .Date.Format "02/01/2006"  }}</p>
						<p class="summary">{{ .Summary }}</br>...</p>
						<p class="categories">{{ if eq .Lang "fr" }}Mots-clés:{{ range $i, $e := .Params.categories }}{{ if $i }}/{{ end }} <a href="{{ $.Site.BaseURL }}categories/{{ $e | urlize }}">{{$e}}</a>{{end}}{{ else if eq .Lang "en" }}Keywords:{{ range $i, $e := .Params.categories }}{{ if $i }}/{{ end }} <a href="{{ $.Site.BaseURL }}en/categories/{{ $e | urlize }}">{{$e}}</a> {{end}}{{ end }}</p>
					</div>
					<div class="info">
						<div class="comments valign-wrapper">
							<a href="{{ .Permalink }}" class="valign"><i class="fa fa-comments"></i><span class="disqus-comment-count" data-disqus-url="{{.Permalink}}">...</span></a>
							
						</div>
						<div class="socials valign-wrapper">
							<p class="valign">{{ if eq .Lang "fr" }}Partager l'article:{{ else if eq .Lang "en" }}Share this article:{{ end }}</p> 
							<a class="valign" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"><i class="fa fa-facebook"></i></a>
							<a class="valign" href="https://twitter.com/home?status={{ .Permalink }}"><i class="fa fa-twitter"></i></a>
							<a class="valign" href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Params.titre }}&summary={{ .Summary }}&source=Cryos"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
			{{ end }}
			</div>
		</div>
		<div class="col m12 l3 hide-on-med-and-down">
			<h5>{{ if eq .Lang "fr" }}Abonnez-vous{{ else if eq .Lang "en" }}Subscribe{{ end }}</h5>
			<div class="box newsletter">
				<p>{{ if eq .Lang "fr" }}Restez informé sur la santé de vos pieds en vous abonnant à l’infolettre Cryos{{ else if eq .Lang "en" }}Stay up-to-date about your feet health by subscribing to this newsletter{{ end }}</p>
				<div class="nl">
        	<form method="post" action="https://app.icontact.com/icp/signup.php" name="icpsignup" id="icpsignup1006" accept-charset="UTF-8" onsubmit="return verifyRequired1006();" >
					  <input type="hidden" name="redirect" value="<?php echo get_template_directory_uri(); ?>/thanks-cryos.html">
					  <input type="hidden" name="errorredirect" value="http://www.icontact.com/www/signup/error.html">

					  <div id="SignUp">
					    <!--<input type="text" name="fields_fname" placeholder="*Nom:" required>
					    <input type="text" name="fields_lname" placeholder="prénom:">-->
					    {{ if eq .Lang "fr" }}
					    <input id="news-email" type="email" name="fields_email" placeholder="Courriel" required>
							{{ else if eq .Lang "en" }}
							<input id="news-email" type="email" name="fields_email" placeholder="Email" required>
							{{ end }}
					    <input type="hidden" name="listid" value="17836">
					    <input type="hidden" name="specialid:17836" value="RCDM">
					    <input type="hidden" name="clientid" value="1523569">
					    <input type="hidden" name="formid" value="1006">
					    <input type="hidden" name="reallistid" value="1">
					    <input type="hidden" name="doubleopt" value="0">
							{{ if eq .Lang "fr" }}
					    <input type="submit" name="Submit" value="S'abonner" class="btn">
							{{ else if eq .Lang "en" }}
							<input type="submit" name="Submit" value="Subscribe" class="btn">
							{{ end }}
					  </div>
					</form>

					<script type="text/javascript">
						var icpForm1006 = document.getElementById('icpsignup1006');
						if (document.location.protocol === "https:")
							icpForm1006.action = "https://app.icontact.com/icp/signup.php";
						  function verifyRequired1006() {
						  if (icpForm1006["fields_email"].value == "") {
						    icpForm1006["fields_email"].focus();
						    alert("The Email field is required.");
						    return false;
						  }
						  return true;
						}
					</script>
        </div>
			</div>
			{{ if eq .Lang "fr" }}
			<h5>Catégories</h5>
			<div class="categories box">
				{{ $tags := .Site.Taxonomies.categories.ByCount }}
				<ul>
				{{ range $tags }}
				<a href="{{ $.Site.BaseURL }}categories/{{ .Term | urlize }}"><li>{{ .Term }} <!-- ({{ .Count }}) --></li></a>
				{{ end }}
				</ul>
			</div>
			{{ else if eq .Lang "en" }}
			<h5>Categories</h5>
			<div class="categories box">
				{{ $tags := .Site.Taxonomies.categories.ByCount }}
				<ul>
				{{ range $tags }}
				<a href="{{ $.Site.BaseURL }}en/categories/{{ .Term | urlize }}"><li>{{ .Term }} <!-- ({{ .Count }}) --></li></a>
				{{ end }}
				</ul>
			</div>
			{{ end }}
		</div>
	</div>
	<script id="dsq-count-scr" src="//cryos.disqus.com/count.js" async></script>
{{ partial "footer.html" . }}