{{ partial "head.html" . }}

    {{ partial "header.html" . }}

    <div id="merci" class="valign-wrapper">
    	<div class="container row">
    		<div class="col l8 offset-l2 m10 offset-m1 s12">
    			<div class="valign">
    				<p>Nous avons bien reçu votre formulaire et nous vous contacterons dans les plus brefs délais. Merci de votre intérêt pour Cryos Technologies.</p>
	    			<a href="{{ .Site.BaseURL }}" class="trouver-btn btn vide">Retour à l'accueil <i class="fa fa-chevron-right"></i></a>
    			</div>
	    	</div>
    	</div>
    </div>

{{ partial "footer.html" . }}